version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    command: python -m uvicorn src.app.main:app --host 0.0.0.0 --port 3000 --reload
    volumes:
      - ./src:/app/src
